#gn-search {
   border: 2px inset #0AF;
   border-radius: 8px;
   -moz-transition: all 0.3s;
   -webkit-transition: all 0.3s;
}
#gn-search:focus {
   border: 2px inset #1ABA1A;
   box-shadow: 0px 0px 4px #08C;
}
.gn-throbber {
   display: block;
   margin: 0 auto;
}
.gn-search-error {
   color: red;
   font-size: 120%;
}
.gn-search-result, .gn-search-result-extra {
   display: block;
   white-space: nowrap;
   border-radius: 4px;
   text-align: left;
   -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
}
.gn-search-result:hover, .gn-search-result-extra:hover {
   background-color: #1982D1;
   color: white;
   text-decoration: none;
}
#gn-search-container {
   border: 1px solid #CCC;
   display: none;
   padding: 3px;
   overflow: hidden;
   position: relative;
   text-align: center;
}
.gn-search-result-extra {
   display: none;
}
.gn-show-extra {
   display: inline-block;
   margin: 0 auto;
   color: #13A49B;
   background-color: #EEE;
   box-shadow: 1px 1px 4px #AAA;
   border: 1px outset #AAA;
   border-radius: 4px;
   -moz-transition: all 0.3s;
   -webkit-transition: all 0.3s;
   cursor: pointer;
   padding: 2px;
   font-size: 80%;
   font-weight: bold;
}
.gn-show-extra:hover {
   box-shadow: 2px 2px 4px #AAA;
   text-shadow: 1px 1px #DDD;
}
